html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #3f1622;
}

a {
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  color: #8f2440;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #3f1622;
  text-decoration:none;
}

figcaption {
  color: #222;
}

img {
  width: 100%;
  max-width: inherit;
}

p {
  color: #222;
  line-height: 1.5;
}

ol dl ul {
  color: #222;
}

footer {
  color: #222;
}

.wiki {
  color: #8f2440;
  font-style: normal;
  font-weight: normal;
}

.wiki:hover {
  color: #3f1622;
}
